* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter,
sans-serif;
}
body {
  /* width: 1400px;
  margin: 0 auto; */
  background-color: #f5f8ff;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem; /* prevents overflow on small screens */
}
.pt {
    padding-top: 2em;
}
.sec-1{
    
    width: full;
    height: 670px;
    background-image: url(./B12A01-landing-launchpad/Assets/Hero-bg.png) ;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
h1{
    color: #4E47FF;
    font-weight: 900;
}
.sign-up-btn{
    background-color: #4E47FF;
    padding: 1em 2em;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 1em;
}
.title-btn{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    gap: 1.3em;
}
h2{
    font-size: 3em;
}


.sec-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: 0 auto;
    margin-top: 7em;
    margin-bottom: 7em;
    
}
.Webflow-img{
    border-radius: 2em;
}