* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter,
sans-serif;
}
body {
  /* width: 1400px;
  margin: 0 auto; */
  background-color: #f5f8ff;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem; /* prevents overflow on small screens */
}
.pt {
    padding-top: 2em;
}
.sec-1{
    
    width: full;
    height: 670px;
    background-image: url(./B12A01-landing-launchpad/Assets/Hero-bg.png) ;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
h1{
    color: #4E47FF;
    font-weight: 900;
}
.sign-up-btn{
    background-color: #4E47FF;
    padding: 1em 2em;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 1em;
}
.title-btn{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    gap: 1.3em;
}
h2{
    font-size: 3em;
}


.sec-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: 0 auto;
    margin-top: 7em;
    margin-bottom: 7em;
    
}
.Webflow-img{
    border-radius: 2em;
}

.sec-3{
    display: flex;
    justify-content: space-between;
    background-color: #e5e7ff;
    padding: 3em 7em;
    margin-bottom: 3em;
    border-radius: 2em;
}
.user-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}
.user-number {
    font-size: 4em;
    font-weight: bold;
    color: #4E47FF;
}

p{
    color: gray;
}
.user-heading{
    margin-top: 4em;
    color: black;
    text-align: center;
}
.card{
    width: 350px;
    height: 250px;
    background-color: white;
    padding: 40px;
    margin-top: 5em;
    margin-bottom: 5em;
    border-radius: 1em;
}
.avater-detail{
    margin-top: 0.5em;
}
.avater {
    display: flex;
    margin-top: 2em;
    gap: 0.5em;
    align-items: center;
}
.avater-img {
    border-radius: 3em;
}
.testimonials{
    display: flex;
}
.fa-star {
    color: #FFB805;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 4em;
    margin-bottom: 4em;
}


.form-heading {
    font-size: 4em;
}
.detail{
    background-color: white;
    padding: 1em ;
    border: none;
    border-radius: 1em;
}
input {
  width: 300px;
}
.text-area{
    border: none;
    width: 300px;
}
.form-name {
    font-weight: 600;
    padding-bottom: 1em;
}

.submit-btn{
    padding: 1em 5.7em;
    margin: 0 auto;
}